.gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
}

.gridContainer img{
    max-width: 100%;
}

#animationContainer{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

#animation{
    position: absolute;
    inset: 0;
}

.landingInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sticker{
    display: table;
    color: #1D4248;
    font-size: 1rem;
    font-weight: 500;
    padding: 6px 17px 6px 14px;
    border-radius: 22px;
    background: #FFF;
    word-break: keep-all;
}

.sticker::before {
    content: "•";
    margin-right: 7px;
    color: #1BE080;
    font-size: 1.5rem;
}

.title{
    color: #1E1D34;
    text-align: center;
    font-size: 33px;
    font-weight: 600;
    margin: 16px 0 24px 0;
    max-width: 650px;
}

.subTitle{
    font-size: 1.25rem;
    font-weight: normal;
    color: var(--light);
    margin: 0 0 3rem 0;
}

.sectionTitle{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    margin: 40px 0 16px 0;
}

.sectionSubtitle{
    color: var(--light);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin: 0;
}

.dealList{
    margin: 32px 0 0 0;
    padding: 0;
    list-style-type: none;
}

.dealList li{
    font-size: 18px;
    margin-bottom: 20px;
    background: url('../public/check.svg') no-repeat left center;
    padding: 5px 0 5px 40px;
}

#subscription{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 100%;
    background-color: var(--dark);
    padding: 40px;
    color: white;
    border-radius: 16px;
}

.inputForm{
   gap: 16px;
   flex-direction: column;
}


#inputContainer{
    flex: 1;
    width: 100%;
}

#inputContainer input{
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}


#infoCol input::placeholder{
    color: #708195;
    font-weight: bold;
}


.submitButton{
    padding: 12px 20px;
    border-radius: 8px;
    background: white;
    font-weight: 600;
    border: 1px solid #7F56D9;
    font-size: 1rem;
    border: 1px solid #7F56D9;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    white-space: nowrap;
    color: var(--dark);
    width: 100%;
}

.submitButton:hover{
    transform: scale(1.01);
}

.join{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 10px;
}

.centerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landingImg{
    width: 100%;
    max-width: 1200px;
}

@media (min-width: 650px){
    #landingImg{
        align-self: auto;
    }
}

@media (min-width: 768px){
    .gridContainer{
        grid-template-columns: 0.55fr 0.45fr;
        justify-items: flex-start;
    }
    .landingInfo{
        align-items: flex-start;
    }
    .title{
        font-size: 55px;
        text-align: left;
    }
    .subTitle{
        text-align: left;
    }
    .sectionTitle{
        text-align: left;
        font-size: 36px;
        margin-top: 0;
    }
    .sectionSubtitle{
        text-align: left;
        font-size: 18px;
    }
    #subscription{
        grid-template-columns: 0.4fr 0.6fr;
        padding: 64px;
        text-align: left;
    }
    .inputForm{
        flex-direction: row;
    }
    .submitButton{
        width: auto;
    }
    .join{
        font-size: 30px;
        margin-bottom: 16px;
    }
}

@media (min-width: 992px){
    html{
        font-size: 16px;
    }
}