@font-face {
    font-family: "Inter-fallback";
    size-adjust: 105%;
    letter-spacing: 10px;
    descent-override: 24%;
    ascent-override: 84%;
    src: local("Arial");
}

:root {
    --dark: #101828;
    --light: #475467;
    --primary: #1BE080;
}

html{
    font-family: 'Inter-fallback';
    font-family: 'Inter', 'Inter-fallback';
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    height: 100%;
    background: #EDF3FF;
    color: var(--dark);
}

*{
    box-sizing: border-box;
}

a, button{
    font-family: 'Inter', Inter-fallback;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: inherit;
    border: none;
}

html, body{
    max-width: 100%;
    padding: 0;
    margin: 0;
}

section{
    width: 100%;
    margin-top: 60px;
}

.container{
    width: 100%;
    max-width: 1280px;
    padding: 15px;
    margin: 0 auto;
}

.alignY{
    display: flex;
    align-items: center;
}

.primary{
    color: var(--primary);
    font-weight: 600;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.logo{
    gap: 15px;
    font-weight: 700;
    font-size: 30px;
}

.logo img{
    width: 54px;
    height: 54px;
}

.navLinks{
    gap: 25px;
}

.navLink{
    color: var(--light);
    font-size: rem;
    font-weight: 500;
}

.primaryButton{
    display: table;
    padding: 14px 25px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    background-color: #1BE080;
    border-radius: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 10px 0;
}

#footer a{
    color: #1E1D34;
    font-size: 1.25rem;
    font-weight: 600;
}

@media(max-width: 767px){
    .hideMobile{
        display: none!important;
    }
}

@media (min-width: 768px){
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: #E0E0E0;
        border-radius: 8px;
    }
    section{
        margin-top: 75px;
    }
    #navbar{
        padding-top: 35px;
    }
    .primaryButton{
        padding: 16px 38px;
        font-size: 1.125rem;
    }
    #footer{
        margin: 40px 0 20px 0;
    }
}

@media (min-width: 992px){
    html{
        font-size: 16px;
    }
}